@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    overflow-x: hidden;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    margin-top: 4rem;
}
nav{
    margin-left: 42rem;
    margin-right: 14rem;
    margin-top: 1rem; 
    display: flex; 
}
.close{
    display: none;
}
.Navmenu{
    display: flex; 
    justify-content: space-between;
    gap: 1.2rem;
} 
.Navitem{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
}
.burger{
    display: none;
}
.burger div{
    width: 2.5rem;
    height: 0.2rem;
    background-color:black;
    margin: 0.5rem;
}
.major-container{
    display: flex;
    height: 100vh;
}
.container-word{
    display: flex;
    margin-left:2rem;
}
.container-word h1{
    margin-left: 5.5rem;
    font-size: 3.7rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 1.4rem;
}
.container-word p{
    width: 25rem;
    margin-left: 9rem;
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    margin-top: 2.4rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
}
button{
    margin-left: 11rem;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
.container-one img{
    width: 53.5rem;
    margin-left: 7rem;
    margin-top: 3rem;
}
.container-two{
    background-color:hsl(240, 100%, 5%);
    margin-left: 1.4rem;
    margin-top: 3rem;   
    height: 34.5rem;
    width: 20rem;
}
.News-Word{
    margin-top: 2rem;
    margin-left: 1.7rem;
    color:goldenrod;
    font-family: 'Inter', sans-serif;
}
#container-color{
    color: #FFFFFF;
    margin-left: 0.2rem;
}
#mini-div{
    border-bottom:hsl(236, 13%, 42%) 2px solid;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.last-mini-div{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}
.last-mini-div p{
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}
#mini-div h3{
    margin-top: 2rem;
    font-family: 'Inter', sans-serif;
}
#mini-div p{
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-family: 'Inter', sans-serif;
}

/* Flex Section */
.container-flex{
    display: flex;
    margin-left: 7rem;
}
.flex-one{
    display: flex;
}
.flex-one-word{
    width: 16rem;
}
.flex-one-img img{
    height: 13rem;
}
.flex-one-word h1{
    font-size: 3rem;
    color: hsl(236, 13%, 42%);
    margin-left: 1.5rem;
    font-family: 'Inter', sans-serif;
}
.flex-one-word h2{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}
.flex-one-word h3{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}
.flex-two{
    display: flex;
}
.flex-two-word{
    width: 18.5rem;
}
.flex-two-img img{
    height: 13rem;
}
.flex-two-word h1{
    font-size: 3rem;
    color: hsl(236, 13%, 42%);
    margin-left: 1.5rem;
    font-family: 'Inter', sans-serif;
}
.flex-two-word h2{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}
.flex-two-word h3{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}
.flex-three{
    display: flex;
}
.flex-three-word{
    width:19rem;
}
.flex-three-img img{
    height: 13rem;
}
.flex-three-word h1{
    font-size: 3rem;
    color: hsl(236, 13%, 42%);
    margin-left: 1.5rem;
    font-family: 'Inter', sans-serif;
}
.flex-three-word h2{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}
.flex-three-word h3{
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    font-weight: 400;
}

@media  screen and (max-width: 428px) {
body{
    overflow-x: hidden;
    width: 100%; 
   }
.logo img{
    margin-left: -5rem;
   }
nav{
    margin-left: 14.5rem;
    margin-top: 0rem;
    display: flex; 
} 
.Navmenu{
    flex-direction: column;
    top: 6rem;
    position: absolute;
    left: 2rem;
} 
.close{
    display: block;
    font-size: 2.2rem;
    left: 14.2rem;
    position: absolute;
}
.Navbar{
    position: absolute; 
    right: 0rem; 
    background-color: white;
    display: flex; 
    align-items: flex-start;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    width: 70%;
    overflow: hidden;
    height: 100%;
}
.active{
    transform: translateX(0%);
}
.burger{
 display: block;
} 
.burger.active .line:nth-child(2){
 opacity: 0;
 }
.burger.active .line:nth-child(1){
  transform: translate(8px) rotate(45deg);
 }
.burger.active .line:nth-child(1){
 transform: translate(-8px) rotate(-45deg);
}
.major-container{
        display: inline;
}
.container-one img{
        width: 23rem;
        height: 19rem;
        margin-left: 1.8rem;
}
.container-word{
        flex-direction: column;
}
.container-word h1{
        margin-left: 1.5rem;
        font-size: 2.7rem;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin-top: 1.4rem;
}
.container-word p{
        width: 20rem;
        margin-left: 1rem;
        font-size: 1.1rem;
        font-family: 'Inter', sans-serif;
        margin-top: 2.4rem;
        font-weight: 400;
        color: hsl(236, 13%, 42%);
}
button{
        margin-left: 1rem;
        margin-top: 1.5rem;
        padding: 1rem 3rem;
        background-color: hsl(5, 85%, 63%);
        border: none;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
}
.container-two{
        background-color:hsl(240, 100%, 5%);
        margin-left: 2.6rem;
        margin-top: 3rem;   
        height: 34.5rem;
        width: 21rem;
}
.container-flex{
        display: inline;
}
.flex-one{
        margin-left:2.5rem ;
}
.flex-one-img img{
        width: 8rem;
        height: 8rem;
}
.flex-one-word h1{
        font-size: 2rem;
        margin-top: -0.4rem;
}
.flex-one-word h2{
        font-size: 1rem;
}
.flex-one-word h3{
        width: 13rem;
        font-size: 1rem;
        margin-top: 0.3rem;
}
.flex-two{
        margin-left:2.5rem ;
        margin-top: 2rem;
}
.flex-two-img img{
        width: 8rem;
        height: 8rem;
}
.flex-two-word h1{
        font-size: 2rem;
        margin-top: -0.4rem;
}
.flex-two-word h2{
        font-size: 1rem;
}
.flex-two-word h3{
        width: 13rem;
        font-size: 1rem;
        margin-top: 0.3rem;
}
.flex-three{
        margin-left:2.5rem ;
        margin-top: 2rem;
        margin-bottom: 3rem;
}
.flex-three-img img{
        width: 8rem;
        height: 8rem;
}
.flex-three-word h1{
        font-size: 2rem;
        margin-top: -0.4rem;
}
.flex-three-word h2{
        font-size: 1rem;
}
.flex-three-word h3{
        width: 13rem;
        font-size: 1rem;
        margin-top: 0.3rem;
}
}
