@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
body {
  overflow-x: hidden;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  margin-left: 7rem;
  margin-top: 4rem;
}
.menu_bar {
  display: none; 
}
.menu_bar .hamburger {
  width: 41px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_bar .hamburger div {
  width: 100%;
  height: 3px;
  background-color: black;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
nav ul li {
  list-style: none;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

.major-container {
  display: flex;
}
.container-word {
  display: flex;
  margin-left: -2rem;
}
.sub-word {
  margin-left: 4rem;
}
.container-word h1 {
  margin-left: 5.5rem;
  font-size: 3.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 1.4rem;
}
.container-word p {
  max-width: 25rem;
  margin-left: 9rem;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  margin-top: 2.4rem;
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}
button {
  margin-left: 9rem;
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  background-color: hsl(5, 85%, 63%);
  border: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  width: 38%;
}
.container-one img {
  max-width: 56vw;
  margin-left: 7rem;
  margin-top: 3rem;
}
.container-two {
  background-color: hsl(240, 100%, 5%);
  margin-left: 1.4rem;
  margin-top: 3rem;
  height: 34.5rem;
  max-width: 22vw;
}
.News-Word {
  margin-top: 2rem;
  margin-left: 1.7rem;
  color: goldenrod;
  font-family: "Inter", sans-serif;
}
#container-color {
  color: #ffffff;
  margin-left: 0.2rem;
}
#mini-div {
  border-bottom: hsl(236, 13%, 42%) 2px solid;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.last-mini-div {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}
.last-mini-div p {
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
}
#mini-div h3 {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
}
#mini-div p {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-family: "Inter", sans-serif;
}

/* Flex Section */
.flex_section {
  margin-top: 3rem;
}
.container-flex {
  display: flex;
  margin-left: 7rem;
}
.flex-one {
  display: flex;
}
.flex-one-word {
  max-width: 50%;
}
.flex-one-img img {
  height: 75%;
}
.flex-one-word h1 {
  font-size: 3rem;
  color: hsl(236, 13%, 42%);
  margin-left: 1.5rem;
  font-family: "Inter", sans-serif;
}
.flex-one-word h2 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
}
.flex-one-word h3 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
}
.flex-two {
  display: flex;
  margin-left: -6rem;
}
.flex-two-word {
  max-width: 60%;
}
.flex-two-img img {
  height: 75%;
}
.flex-two-word h1 {
  font-size: 3rem;
  color: hsl(236, 13%, 42%);
  margin-left: 1.5rem;
  font-family: "Inter", sans-serif;
}
.flex-two-word h2 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
}
.flex-two-word h3 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
}
.flex-three {
  display: flex;
  margin-left: -3rem;
}
.flex-three-word {
  max-width: 58%;
}
.flex-three-img img {
  height: 75%;
}
.flex-three-word h1 {
  font-size: 3rem;
  color: hsl(236, 13%, 42%);
  margin-left: 1.5rem;
  font-family: "Inter", sans-serif;
}
.flex-three-word h2 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
}
.flex-three-word h3 {
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-family: "Inter", sans-serif;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
}

@media screen and (max-width: 428px) {
  header{
    margin-top: 2.5rem;
  }
  .logo img {
    margin-left: -6rem;
  }
  .menu_bar {
    position: relative;
    display: block;
    margin-right: 1.3rem;
    margin-top: 0.5rem;
  }
  
  nav {
    position: absolute;
    overflow: hidden;
    transition: height 0.3s ease-in;
    height: 0;
    top: 80px;
    right: 0;
    left: 0;
    width: 0;
    background-color: #ffff;
  }
  nav ul {
    display: block;
    display: inline-grid;
  }
  nav ul li {
    list-style-type: none;
    margin: 8px 8px;
  }
  nav ul a {
    text-decoration: none;
    color:red;
  }
  .open {
    height: 296px;
    width: 35%;
    left: 13rem;
    padding: 2rem;
  }

  .major-container {
    display: inline;
  }
  .container-one{
    margin: 1.1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-one img {
    margin: 0 auto;
    max-width: 93%;
    height: 19rem;
    object-fit: cover;
    /* margin-left: 1.5rem; */
  }
  .container-word {
    flex-direction: column;
  }
  .container-one h1 {
    margin-left: 1rem;
    font-size: 2.7rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 1.4rem;
  }

  .container-word p {
    width: 20rem;
    margin-left: 5rem;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
    margin-top: 1.4rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
  }
  button {
    margin-left: 5rem;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  .container-two {
    background-color: hsl(240, 100%, 5%);
    margin-left: 2.6rem;
    margin-top: 3rem;
    height: 32.5rem;
    max-width: 84%;
  }
  .flex_section {
    margin-top: 2rem;
  }
  .container-flex {
    display: inline;
  }
  .flex-one {
    margin-left: 2.5rem;
  }
  .flex-one-img img {
    width: 8rem;
    height: 8rem;
  }
  .flex-one-word h1 {
    font-size: 2rem;
    margin-top: -0.4rem;
  }
  .flex-one-word h2 {
    font-size: 1rem;
  }
  .flex-one-word h3 {
    width: 13rem;
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  .flex-two {
    margin-left: 2.5rem;
    margin-top: 2rem;
  }
  .flex-two-img img {
    width: 8rem;
    height: 8rem;
  }
  .flex-two-word h1 {
    font-size: 2rem;
    margin-top: -0.4rem;
  }
  .flex-two-word h2 {
    font-size: 1rem;
  }
  .flex-two-word h3 {
    width: 13rem;
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  .flex-three {
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .flex-three-img img {
    width: 8rem;
    height: 8rem;
  }
  .flex-three-word h1 {
    font-size: 2rem;
    margin-top: -0.4rem;
  }
  .flex-three-word h2 {
    font-size: 1rem;
  }
  .flex-three-word h3 {
    width: 13rem;
    font-size: 1rem;
    margin-top: 0.3rem;
  }
}
